POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram_db

DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=django-insecure
DEBUG_MODE=True
ALLOWED_HOSTS=["localhost", "127.0.0.1", "домен"]
CSRF_TRUSTED_ORIGINS=https://домен